* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: white;

}

.navigation {
    backgroun-color: black;
    color: white;
}